nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .bg-custom {
    background:#75B9BE;
  }


.ms-1  {
  color: black;
  font-size: 1.6rem;
  text-decoration: none;

}

.nav-link i {
  color: black; 
  font-size: 1.4rem;
}

.title {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
}