/* Footer.css */
.footer {
    background-color: #e35b58;
    color: black;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px; 
  }
  
  body, html {
    margin: 0;
    padding: 0;
  }
  