/* Default styles for logo */
.logo-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center; /* Center the logo horizontally */
  }
  
  .logo-container.slide-in {
    opacity: 1;
  }
  
  .logo {
    width: 700px; 
    height: auto;
  }
  
  /* Media query for smaller screens  */
  @media (max-width: 768px) {
    .logo {
      width: fit-content; 
      height: fit-content;
    }
  }
  